<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wishing App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <h1>Welcome! Sign in to make a wish!</h1>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/register" method="POST">
            {% csrf_token %}
            <label>
                <input type="text" name="first_name" class="form-control">
                First Name
            </label>
            <label>
                <input type="text" name="last_name" class="form-control">
                Last Name
            </label>
            <label>
                <input type="text" name="email" class="form-control">
                Email
            </label>
            <label>
                <input type="password" name="password" id="show_password" class="form-control">
                Password
            </label>
            <input type="checkbox" onclick="pwFunction()">Show Password
            <label>
                <input type="password" name="confirm_password" id="show_cfpw" class="form-control">
                Confim Password
            </label>
            <input type="submit" value="Register" class="form-control">
        </form>
    </div>
    <div>
        <h1>Login</h1>
        <form action="/login" method="POST">
            {% csrf_token %}
            <label>
                <input type="text" name="email" class="form-control">
                Email
            </label>
            <label>
                <input type="password" name="password" class="form-control">
                Password
            </label>
            <input type="submit" value="Log In" class="form-control">
        </form>
    </div>

    <script>
    function pwFunction() {
        var x = document.getElementById("show_password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }    
    </script>

</body>
</html>